* {
  font-family: Poppins, Verdana, Tahoma, sans-serif;
}

main {
  margin: 0 auto;
  max-width: 700px;
  margin-bottom: 60px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}

.post-container {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  position: relative;
}

h2 {
  font-size: 16px;
  margin-bottom: 16px;
}

.author {
  font-weight: bold;
  font-size: 19px;
  color: #0d6efd;
}

.timestamp {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 20px;
}

.new-post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 52px;
}
